@model RegisterVM
<div class="col-md-6 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label for="Nme">Name</label>
                    <input asp-for="Name" class="form-control" id="Nme" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Surname</label>
                    <input asp-for="Surname" class="form-control" id="exampleInputEmail1" placeholder="Surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>

                </div><div class="form-group">
                    <label for="user">Username</label>
                    <input asp-for="Username" class="form-control" id="user" placeholder="Username">
                    <span asp-validation-for="Username" class="text-danger"></span>

                </div><div class="form-group">
                    <label for="email">Email</label>
                    <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword"class="text-danger"></span>

                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>